In [7]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv('MCM2022F题数据/经济/Industry (including construction), value added (current US$).csv')
df1 = pd.read_csv('./Gross capital formation.csv')
lists = df1['Unnamed: 0'].tolist()
filled_df = pd.DataFrame()
for list in lists:
    filled_df = filled_df.append(df[list:list + 1])
filled_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Angola,AGO,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.114676e+10,7.118689e+10,6.341150e+10,3.657375e+10,2.125376e+10,2.908441e+10,3.728736e+10,3.448885e+10,2.432939e+10,2.973618e+10
5,Albania,ALB,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.823527e+09,2.946365e+09,2.845222e+09,2.478198e+09,2.507691e+09,2.650596e+09,3.225184e+09,3.175800e+09,3.027676e+09,3.984084e+09
9,Argentina,ARG,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,1.372294e+10,...,1.333780e+11,1.325190e+11,1.277770e+11,1.377030e+11,1.229590e+11,1.401960e+11,1.244850e+11,1.036900e+11,8.551503e+10,1.148860e+11
10,Armenia,ARM,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.955048e+09,2.970438e+09,2.933786e+09,2.713126e+09,2.697399e+09,2.975183e+09,3.084158e+09,3.400956e+09,3.390161e+09,3.692874e+09
13,Australia,AUS,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.081400e+11,3.972060e+11,3.753800e+11,3.200080e+11,2.694180e+11,3.113790e+11,3.448450e+11,3.524670e+11,3.371160e+11,3.962950e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,World,WLD,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.122480e+13,2.156110e+13,2.195580e+13,2.017400e+13,2.009540e+13,2.177960e+13,2.353560e+13,2.339740e+13,2.226530e+13,2.663150e+13
260,Samoa,WSM,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.260794e+08,1.208298e+08,1.211740e+08,1.195138e+08,1.215992e+08,1.166667e+08,1.029562e+08,1.091849e+08,9.664282e+07,9.392574e+07
263,South Africa,ZAF,"Industry (including construction), value added...",NV.IND.TOTL.CD,2.840599e+09,3.018399e+09,3.224199e+09,3.611999e+09,4.087998e+09,4.596198e+09,...,1.062920e+11,9.842450e+10,9.265146e+10,8.228224e+10,7.695684e+10,9.006219e+10,9.538826e+10,9.184044e+10,7.857351e+10,1.026750e+11
264,Zambia,ZMB,"Industry (including construction), value added...",NV.IND.TOTL.CD,4.431429e+08,4.137143e+08,4.022857e+08,4.150000e+08,4.880000e+08,5.827143e+08,...,8.163696e+09,9.127930e+09,8.941379e+09,7.152575e+09,7.309700e+09,9.651900e+09,9.073637e+09,8.144510e+09,7.290960e+09,9.413205e+09
265,Zimbabwe,ZWE,"Industry (including construction), value added...",NV.IND.TOTL.CD,NaN,NaN,NaN,NaN,NaN,3.644201e+08,...,4.335296e+09,4.543589e+09,4.624054e+09,4.463433e+09,4.544352e+09,3.764046e+09,1.060133e+10,6.991980e+09,7.048194e+09,8.172502e+09

In [10]:
#df = df.dropna(how='all', subset=df.keys()[4:66])
filled_df = filled_df.dropna(thresh=3, subset=df.keys()[4:66])
filled_df.count()

m=filled_df[filled_df.keys()[4:66]].mean(axis=1)
filled_df=filled_df.fillna({x:m for x in filled_df.keys()[4:66]})
filled_df
# filled_df.to_csv('Poverty headcount ratio.csv')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Angola,AGO,"Industry (including construction), value added...",NV.IND.TOTL.CD,2.831537e+10,2.831537e+10,2.831537e+10,2.831537e+10,2.831537e+10,2.831537e+10,...,7.114676e+10,7.118689e+10,6.341150e+10,3.657375e+10,2.125376e+10,2.908441e+10,3.728736e+10,3.448885e+10,2.432939e+10,2.973618e+10
5,Albania,ALB,"Industry (including construction), value added...",NV.IND.TOTL.CD,2.172851e+09,2.172851e+09,2.172851e+09,2.172851e+09,2.172851e+09,2.172851e+09,...,2.823527e+09,2.946365e+09,2.845222e+09,2.478198e+09,2.507691e+09,2.650596e+09,3.225184e+09,3.175800e+09,3.027676e+09,3.984084e+09
9,Argentina,ARG,"Industry (including construction), value added...",NV.IND.TOTL.CD,6.091641e+10,6.091641e+10,6.091641e+10,6.091641e+10,6.091641e+10,1.372294e+10,...,1.333780e+11,1.325190e+11,1.277770e+11,1.377030e+11,1.229590e+11,1.401960e+11,1.244850e+11,1.036900e+11,8.551503e+10,1.148860e+11
10,Armenia,ARM,"Industry (including construction), value added...",NV.IND.TOTL.CD,3.081313e+09,3.081313e+09,3.081313e+09,3.081313e+09,3.081313e+09,3.081313e+09,...,2.955048e+09,2.970438e+09,2.933786e+09,2.713126e+09,2.697399e+09,2.975183e+09,3.084158e+09,3.400956e+09,3.390161e+09,3.692874e+09
13,Australia,AUS,"Industry (including construction), value added...",NV.IND.TOTL.CD,2.114691e+11,2.114691e+11,2.114691e+11,2.114691e+11,2.114691e+11,2.114691e+11,...,4.081400e+11,3.972060e+11,3.753800e+11,3.200080e+11,2.694180e+11,3.113790e+11,3.448450e+11,3.524670e+11,3.371160e+11,3.962950e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,World,WLD,"Industry (including construction), value added...",NV.IND.TOTL.CD,1.503986e+13,1.503986e+13,1.503986e+13,1.503986e+13,1.503986e+13,1.503986e+13,...,2.122480e+13,2.156110e+13,2.195580e+13,2.017400e+13,2.009540e+13,2.177960e+13,2.353560e+13,2.339740e+13,2.226530e+13,2.663150e+13
260,Samoa,WSM,"Industry (including construction), value added...",NV.IND.TOTL.CD,1.083690e+08,1.083690e+08,1.083690e+08,1.083690e+08,1.083690e+08,1.083690e+08,...,1.260794e+08,1.208298e+08,1.211740e+08,1.195138e+08,1.215992e+08,1.166667e+08,1.029562e+08,1.091849e+08,9.664282e+07,9.392574e+07
263,South Africa,ZAF,"Industry (including construction), value added...",NV.IND.TOTL.CD,2.840599e+09,3.018399e+09,3.224199e+09,3.611999e+09,4.087998e+09,4.596198e+09,...,1.062920e+11,9.842450e+10,9.265146e+10,8.228224e+10,7.695684e+10,9.006219e+10,9.538826e+10,9.184044e+10,7.857351e+10,1.026750e+11
264,Zambia,ZMB,"Industry (including construction), value added...",NV.IND.TOTL.CD,4.431429e+08,4.137143e+08,4.022857e+08,4.150000e+08,4.880000e+08,5.827143e+08,...,8.163696e+09,9.127930e+09,8.941379e+09,7.152575e+09,7.309700e+09,9.651900e+09,9.073637e+09,8.144510e+09,7.290960e+09,9.413205e+09
265,Zimbabwe,ZWE,"Industry (including construction), value added...",NV.IND.TOTL.CD,2.415087e+09,2.415087e+09,2.415087e+09,2.415087e+09,2.415087e+09,3.644201e+08,...,4.335296e+09,4.543589e+09,4.624054e+09,4.463433e+09,4.544352e+09,3.764046e+09,1.060133e+10,6.991980e+09,7.048194e+09,8.172502e+09

In [11]:
filled_df.keys()[4:66]

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [12]:
filled_df = filled_df.drop(filled_df.keys()[1:60], axis=1)
filled_df = filled_df.drop(filled_df.keys()[-1], axis=1)

In [13]:
filled_df.count()

Country Name    147
2016            147
2017            147
2018            147
2019            147
2020            147
dtype: int64

In [14]:
filled_df.to_csv('Gross capital formation.csv')