In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('./unemployment.csv')
df1 = pd.read_excel('../指标总.xlsx')
lists = df1['Country Name'].tolist()
filled_df = pd.DataFrame()
k = []
for list in lists:
    flag = True
    for i in range(0, 266):
        if df.loc[i]['Country Name'] == list:
            flag = False
            filled_df = filled_df.append(df.loc[i])
            break
    if flag:
        print(list)
        tmp = df1[:]
        for i in range(0, 121):
            if tmp.loc[i]['Country Name'] == list:
                k.append(i)
df = filled_df

In [3]:
df = df.drop(df.keys()[1:46], axis=1)
df = df.drop(df.keys()[-1], axis=1)
label = df.keys()[1:]
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
outputs = imputer.fit_transform(df[label].values)
df[label] = outputs

In [4]:
df.to_csv('New_New_unemployment.csv')

In [7]:
def minToMax(datas):
    return datas.max() - datas

In [9]:
label = df.keys()[1:]
list = []
for value in df[label].values:
    list.append(minToMax(value))

In [10]:
df[label] = list

In [11]:
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,17.000000,17.400000,0.000000,4.200001,8.100000,13.600000,14.200000,11.600000,8.799999,...,13.020000,13.120000,10.630000,8.450001,9.309999,11.080000,12.880000,14.200000,15.030000,14.810000
9,Argentina,12.530000,14.150000,13.230000,9.490000,7.830000,0.790001,2.480000,4.770000,6.940001,...,12.410000,12.370000,12.490000,12.320000,12.745000,14.680000,11.240000,10.370000,9.750000,8.130000
10,Armenia,16.434999,11.849999,21.169999,17.669999,16.369999,16.270000,13.669999,12.169999,13.570000,...,4.529999,5.670000,6.789999,5.469999,4.709999,5.349998,5.269999,9.759999,10.769999,10.789999
13,Australia,3.940000,1.290000,0.140000,0.000000,1.150000,2.400000,2.360000,2.510000,3.190000,...,5.790000,5.650000,5.210000,4.790000,4.820000,5.160000,5.280000,5.570000,5.710000,4.410000
14,Austria,2.810000,2.640000,2.470000,1.810000,2.520000,1.720000,0.780000,0.910000,0.580000,...,1.420000,1.150000,0.690000,0.390000,0.260000,0.000000,0.500000,1.130000,1.500000,0.860000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",2.820001,12.280001,12.100001,7.715001,8.220000,6.540001,5.010000,4.720001,4.945001,...,9.880001,10.180001,9.240001,9.385001,9.245001,11.460001,11.730000,10.775001,9.910001,9.250000
257,Vietnam,0.000000,0.240000,1.925000,0.555000,1.130000,1.505000,1.425000,0.485000,1.065000,...,2.355000,2.325000,2.035000,2.095000,1.505000,1.505000,1.485000,2.195000,1.675000,1.255000
261,Kosovo,37.700000,35.975000,42.950000,40.500000,38.700000,28.375001,32.950000,26.780001,27.250000,...,30.540000,26.120001,27.230000,21.740002,24.160000,29.510000,26.660000,29.240000,31.930000,31.540001
263,South Africa,13.355000,17.605001,19.240001,16.790000,7.690001,4.665002,3.095001,4.040001,8.290001,...,11.870001,11.500000,11.250000,10.680000,10.420000,9.270000,9.300001,9.070002,7.750000,8.950001
264,Zambia,4.700001,0.800001,5.000001,0.000000,4.615001,4.735001,4.400001,6.045001,7.700001,...,10.870001,11.850001,9.685001,10.680001,9.195001,12.305001,11.180000,14.670001,14.160001,13.670001

In [13]:
# 标准化
def standard(datas):
    k = np.power(np.sum(np.power(datas, 2)), 0.5)
    datas = datas / k
    return datas

In [14]:
list = []
for value in df[label].values:
    list.append(standard(value))

In [15]:
df[label] = list

In [16]:
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,0.240175,0.245826,0.000000,0.059337,0.114436,0.192140,0.200617,0.163884,0.124326,...,0.183946,0.185359,0.150180,0.119381,0.131531,0.156538,0.181968,0.200617,0.212343,0.209235
9,Argentina,0.231127,0.261009,0.244039,0.175052,0.144431,0.014572,0.045746,0.087987,0.128015,...,0.228914,0.228176,0.230389,0.227253,0.235093,0.270786,0.207332,0.191284,0.179847,0.149965
10,Armenia,0.270579,0.195094,0.348534,0.290912,0.269509,0.267863,0.225057,0.200362,0.223411,...,0.074580,0.093349,0.111788,0.090056,0.077544,0.088080,0.086763,0.160685,0.177313,0.177642
13,Australia,0.152315,0.049870,0.005412,0.000000,0.044457,0.092780,0.091234,0.097033,0.123321,...,0.223833,0.218421,0.201411,0.185174,0.186334,0.199478,0.204117,0.215328,0.220740,0.170484
14,Austria,0.356131,0.334585,0.313040,0.229394,0.319377,0.217987,0.098855,0.115331,0.073507,...,0.179966,0.145747,0.087448,0.049427,0.032952,0.000000,0.063368,0.143213,0.190105,0.108994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",0.059107,0.257387,0.253615,0.161705,0.172290,0.137078,0.105009,0.098931,0.103647,...,0.207084,0.213372,0.193669,0.196708,0.193774,0.240200,0.245859,0.225843,0.207712,0.193879
257,Vietnam,0.000000,0.028872,0.231576,0.066766,0.135938,0.181051,0.171427,0.058345,0.128119,...,0.283305,0.279696,0.244809,0.252027,0.181051,0.181051,0.178645,0.264057,0.201502,0.150976
261,Kosovo,0.252788,0.241221,0.287990,0.271562,0.259493,0.190261,0.220938,0.179566,0.182718,...,0.204778,0.175141,0.182584,0.145772,0.161999,0.197872,0.178762,0.196061,0.214098,0.211483
263,South Africa,0.244941,0.322889,0.352876,0.307941,0.141040,0.085560,0.056765,0.074097,0.152045,...,0.217705,0.210919,0.206333,0.195879,0.191111,0.170019,0.170569,0.166351,0.142141,0.164150
264,Zambia,0.096733,0.016465,0.102908,0.000000,0.094984,0.097454,0.090559,0.124416,0.158478,...,0.223722,0.243892,0.199332,0.219811,0.189247,0.253256,0.230102,0.301932,0.291435,0.281350

In [17]:
df.to_csv('New_unemployment.csv')