In [9]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [10]:
df = pd.read_csv('./gini index.csv')
df1 = pd.read_excel('../指标总.xlsx')
lists = df1['Country Name'].tolist()
filled_df = pd.DataFrame()
k = []
for list in lists:
    flag = True
    for i in range(0, 266):
        if df.loc[i]['Country Name'] == list:
            flag = False
            filled_df = filled_df.append(df.loc[i])
            break
    if flag:
        print(list)
        tmp = df1[:]
        for i in range(0, 121):
            if tmp.loc[i]['Country Name'] == list:
                k.append(i)
df = filled_df

In [11]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
5,Albania,ALB,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,29.0,NaN,34.6,32.8,33.7,33.1,30.1,30.8,NaN,NaN
9,Argentina,ARG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,41.3,40.9,41.6,NaN,42.0,41.1,41.3,42.9,42.3,NaN
10,Armenia,ARM,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,29.6,30.6,31.5,32.4,32.5,33.6,34.4,29.9,25.2,NaN
13,Australia,AUS,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.4,NaN,33.7,NaN,34.3,NaN,NaN,NaN
14,Austria,AUT,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,30.5,30.8,30.5,30.5,30.8,29.7,30.8,30.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",VEN,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Vietnam,VNM,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,35.6,NaN,34.8,NaN,35.3,NaN,35.7,NaN,NaN,NaN
261,Kosovo,XKX,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,29.0,26.3,27.3,26.5,26.7,29.0,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,57.1,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df.drop(df.keys()[1:46], axis=1)
df = df.drop(df.keys()[-1], axis=1)

In [13]:
df

,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,31.7,NaN,NaN,30.6,NaN,NaN,30.0,NaN,NaN,NaN,29.0,NaN,34.6,32.8,33.7,33.1,30.1,30.8,NaN
9,Argentina,53.8,50.9,48.4,47.7,46.3,46.2,44.9,43.7,43.6,42.6,41.3,40.9,41.6,NaN,42.0,41.1,41.3,42.9,42.3
10,Armenia,34.8,33.0,37.5,36.0,29.7,31.2,29.2,28.0,30.0,29.4,29.6,30.6,31.5,32.4,32.5,33.6,34.4,29.9,25.2
13,Australia,NaN,33.5,33.1,NaN,NaN,NaN,35.4,NaN,34.7,NaN,NaN,NaN,34.4,NaN,33.7,NaN,34.3,NaN,NaN
14,Austria,NaN,29.5,29.8,28.7,29.6,30.6,30.4,31.5,30.3,30.8,30.5,30.8,30.5,30.5,30.8,29.7,30.8,30.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",49.0,48.1,47.5,49.5,44.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Vietnam,37.0,NaN,36.8,NaN,35.8,NaN,35.6,NaN,39.3,NaN,35.6,NaN,34.8,NaN,35.3,NaN,35.7,NaN,NaN
261,Kosovo,NaN,29.0,NaN,31.2,30.3,NaN,NaN,31.8,33.3,27.8,29.0,26.3,27.3,26.5,26.7,29.0,NaN,NaN,NaN
263,South Africa,NaN,NaN,NaN,64.8,NaN,NaN,63.0,NaN,63.4,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,42.1,NaN,54.3,NaN,54.6,NaN,NaN,NaN,55.6,NaN,NaN,NaN,NaN,57.1,NaN,NaN,NaN,NaN,NaN

In [14]:
label = df.keys()[1:]
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
outputs = imputer.fit_transform(df[label].values)

In [15]:
df[label] = outputs

In [16]:
df.to_csv('New_New_gini index.csv')

In [8]:
def interToMax(datas, a, b):
    M = max(a - datas.min(), datas.max() - b)
    ans = []
    for data in datas:
        if data < a:
            ans.append(1 - (a - data) / M)
        elif data > b:
            ans.append(1 - (data - b) / M)
        else:
            ans.append(1)
    return ans
label = df.keys()[1:]
list = []
for value in df[label].values:
    list.append(interToMax(value, 30, 40))
df[label] = list

In [9]:
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,1.000000,7.533333e-01,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,...,1.000000,0.666667,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.246667
9,Argentina,0.533333,5.072464e-01,0.601449,0.644928,0.572464,0.355072,0.311594,0.340580,0.224638,...,0.811594,0.905797,0.934783,0.884058,0.984058,0.855072,0.920290,0.905797,0.789855,0.833333
10,Armenia,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.875000,0.916667,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.979167,0.000000
13,Australia,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
14,Austria,1.000000,1.443290e-15,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.878049,1.000000,1.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",0.734918,0.000000e+00,0.808044,0.190128,0.140768,0.341865,0.250457,0.159049,0.259598,...,0.570384,0.672761,0.689214,0.526508,0.778793,0.742230,0.784278,0.749543,0.808044,0.616088
257,Vietnam,1.000000,1.000000e+00,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
261,Kosovo,1.000000,2.162162e-02,0.848649,1.000000,1.000000,0.308108,1.000000,1.000000,1.000000,...,0.405405,0.729730,0.000000,0.270270,0.054054,0.108108,0.729730,0.270270,0.481081,0.389189
263,South Africa,0.506452,4.258065e-01,0.484677,0.221774,0.304839,0.380645,0.382258,0.279839,0.383065,...,0.545968,0.535484,0.575806,0.072581,0.534677,0.526613,0.623387,0.639516,0.641935,0.716935
264,Zambia,0.402927,0.000000e+00,0.616585,0.385366,0.505366,0.371707,0.595122,0.358049,0.556098,...,0.631220,0.632195,0.737561,0.703415,0.165854,0.803902,0.728780,0.793171,1.000000,0.650732

In [10]:
# 标准化
def standard(datas):
    k = np.power(np.sum(np.power(datas, 2)), 0.5)
    datas = datas / k
    return datas

In [11]:
label = df.keys()[1:]
list = []
for value in df[label].values:
    list.append(standard(value))

In [12]:
df[label] = list
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,0.188737,1.421819e-01,0.188737,0.188737,0.188737,0.188737,0.000000,0.188737,0.188737,...,0.188737,0.125825,0.188737,0.188737,0.188737,0.188737,0.188737,0.188737,0.188737,0.046555
9,Argentina,0.151035,1.436471e-01,0.170324,0.182637,0.162116,0.100553,0.088240,0.096449,0.063615,...,0.229835,0.256513,0.264721,0.250356,0.278675,0.242148,0.260617,0.256513,0.223679,0.235992
10,Armenia,0.187389,1.873885e-01,0.187389,0.187389,0.187389,0.187389,0.187389,0.187389,0.187389,...,0.163965,0.171773,0.187389,0.187389,0.187389,0.187389,0.187389,0.187389,0.183485,0.000000
13,Australia,0.179605,1.796053e-01,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,...,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605
14,Austria,0.197848,2.855519e-16,0.000000,0.197848,0.197848,0.197848,0.197848,0.197848,0.197848,...,0.197848,0.197848,0.197848,0.197848,0.197848,0.197848,0.173720,0.197848,0.197848,0.065949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",0.261205,0.000000e+00,0.287195,0.067575,0.050032,0.121506,0.089018,0.056529,0.092266,...,0.202726,0.239113,0.244961,0.187132,0.276799,0.263804,0.278748,0.266403,0.287195,0.218970
257,Vietnam,0.182574,1.825742e-01,0.182574,0.182574,0.000000,0.182574,0.182574,0.182574,0.182574,...,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574
261,Kosovo,0.229329,4.958457e-03,0.194619,0.229329,0.229329,0.070658,0.229329,0.229329,0.229329,...,0.092971,0.167348,0.000000,0.061981,0.012396,0.024792,0.167348,0.061981,0.110326,0.089252
263,South Africa,0.207359,1.743398e-01,0.198444,0.090802,0.124811,0.155849,0.156510,0.114576,0.156840,...,0.223538,0.219245,0.235755,0.029717,0.218915,0.215613,0.255236,0.261840,0.262830,0.293538
264,Zambia,0.124191,0.000000e+00,0.190046,0.118779,0.155765,0.114569,0.183430,0.110359,0.171402,...,0.194556,0.194857,0.227333,0.216808,0.051120,0.247781,0.224627,0.244473,0.308223,0.200570

In [13]:
df.to_csv('New_gini index.csv')