In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('./gini index.csv')
df1 = pd.read_csv('./New_unemployment.csv')
lists = df1['Unnamed: 0'].tolist()
filled_df = pd.DataFrame()
for list in lists:
    filled_df = filled_df.append(df[list:list + 1])
df = filled_df

In [3]:
label = df.keys()[34:-1]
len(label)

31

In [4]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()
outputs = imputer.fit_transform(df[label].values)

In [5]:
df[label] = outputs

In [6]:
df = df.drop(df.keys()[1:34], axis=1)
df = df.drop(df.keys()[-1], axis=1)

In [7]:
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,33.70,29.26,31.28,35.28,30.20,33.54,27.00,31.20,33.92,...,31.46,29.00,32.48,34.60,32.80,33.70,33.10,30.10,30.80,27.74
9,Argentina,46.44,46.80,45.50,44.90,45.90,48.90,49.50,49.10,50.70,...,42.60,41.30,40.90,41.60,40.22,42.00,41.10,41.30,42.90,42.30
10,Armenia,33.70,30.14,33.16,35.28,32.48,32.86,32.34,31.20,34.62,...,29.40,29.60,30.60,31.50,32.40,32.50,33.60,34.40,29.90,25.20
13,Australia,32.38,30.56,35.66,35.84,35.60,32.60,32.38,33.86,36.30,...,34.56,34.40,34.72,34.40,34.74,33.70,34.76,34.30,34.48,33.66
14,Austria,32.12,27.54,27.54,30.58,31.30,31.10,31.02,30.20,31.38,...,30.80,30.50,30.80,30.50,30.50,30.80,29.70,30.80,30.20,28.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",42.90,50.94,42.10,48.86,49.40,47.20,48.20,49.20,48.10,...,44.70,43.58,43.40,45.18,42.42,42.82,42.36,42.74,42.10,44.20
257,Vietnam,35.22,37.56,35.70,38.18,40.12,36.42,34.12,35.40,38.02,...,35.74,35.60,35.20,34.80,37.56,35.30,35.08,35.70,34.42,33.66
261,Kosovo,33.70,26.38,29.44,32.94,31.32,27.44,30.70,31.72,32.64,...,27.80,29.00,26.30,27.30,26.50,26.70,29.00,27.30,28.08,27.74
263,South Africa,52.24,54.24,52.78,59.30,57.24,55.36,55.32,57.86,55.30,...,51.26,51.52,50.52,63.00,51.54,51.74,49.34,48.94,48.88,47.02
264,Zambia,52.24,60.50,47.86,52.60,50.14,52.88,48.30,53.16,49.10,...,47.56,47.54,45.38,46.08,57.10,44.02,45.56,44.24,39.48,47.16

In [8]:
def interToMax(datas, a, b):
    M = max(a - datas.min(), datas.max() - b)
    ans = []
    for data in datas:
        if data < a:
            ans.append(1 - (a - data) / M)
        elif data > b:
            ans.append(1 - (data - b) / M)
        else:
            ans.append(1)
    return ans
label = df.keys()[1:]
list = []
for value in df[label].values:
    list.append(interToMax(value, 30, 40))
df[label] = list

In [9]:
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,1.000000,7.533333e-01,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,...,1.000000,0.666667,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.246667
9,Argentina,0.533333,5.072464e-01,0.601449,0.644928,0.572464,0.355072,0.311594,0.340580,0.224638,...,0.811594,0.905797,0.934783,0.884058,0.984058,0.855072,0.920290,0.905797,0.789855,0.833333
10,Armenia,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.875000,0.916667,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.979167,0.000000
13,Australia,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
14,Austria,1.000000,1.443290e-15,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.878049,1.000000,1.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",0.734918,0.000000e+00,0.808044,0.190128,0.140768,0.341865,0.250457,0.159049,0.259598,...,0.570384,0.672761,0.689214,0.526508,0.778793,0.742230,0.784278,0.749543,0.808044,0.616088
257,Vietnam,1.000000,1.000000e+00,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
261,Kosovo,1.000000,2.162162e-02,0.848649,1.000000,1.000000,0.308108,1.000000,1.000000,1.000000,...,0.405405,0.729730,0.000000,0.270270,0.054054,0.108108,0.729730,0.270270,0.481081,0.389189
263,South Africa,0.506452,4.258065e-01,0.484677,0.221774,0.304839,0.380645,0.382258,0.279839,0.383065,...,0.545968,0.535484,0.575806,0.072581,0.534677,0.526613,0.623387,0.639516,0.641935,0.716935
264,Zambia,0.402927,0.000000e+00,0.616585,0.385366,0.505366,0.371707,0.595122,0.358049,0.556098,...,0.631220,0.632195,0.737561,0.703415,0.165854,0.803902,0.728780,0.793171,1.000000,0.650732

In [10]:
# 标准化
def standard(datas):
    k = np.power(np.sum(np.power(datas, 2)), 0.5)
    datas = datas / k
    return datas

In [11]:
label = df.keys()[1:]
list = []
for value in df[label].values:
    list.append(standard(value))

In [12]:
df[label] = list
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,0.188737,1.421819e-01,0.188737,0.188737,0.188737,0.188737,0.000000,0.188737,0.188737,...,0.188737,0.125825,0.188737,0.188737,0.188737,0.188737,0.188737,0.188737,0.188737,0.046555
9,Argentina,0.151035,1.436471e-01,0.170324,0.182637,0.162116,0.100553,0.088240,0.096449,0.063615,...,0.229835,0.256513,0.264721,0.250356,0.278675,0.242148,0.260617,0.256513,0.223679,0.235992
10,Armenia,0.187389,1.873885e-01,0.187389,0.187389,0.187389,0.187389,0.187389,0.187389,0.187389,...,0.163965,0.171773,0.187389,0.187389,0.187389,0.187389,0.187389,0.187389,0.183485,0.000000
13,Australia,0.179605,1.796053e-01,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,...,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605,0.179605
14,Austria,0.197848,2.855519e-16,0.000000,0.197848,0.197848,0.197848,0.197848,0.197848,0.197848,...,0.197848,0.197848,0.197848,0.197848,0.197848,0.197848,0.173720,0.197848,0.197848,0.065949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",0.261205,0.000000e+00,0.287195,0.067575,0.050032,0.121506,0.089018,0.056529,0.092266,...,0.202726,0.239113,0.244961,0.187132,0.276799,0.263804,0.278748,0.266403,0.287195,0.218970
257,Vietnam,0.182574,1.825742e-01,0.182574,0.182574,0.000000,0.182574,0.182574,0.182574,0.182574,...,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574,0.182574
261,Kosovo,0.229329,4.958457e-03,0.194619,0.229329,0.229329,0.070658,0.229329,0.229329,0.229329,...,0.092971,0.167348,0.000000,0.061981,0.012396,0.024792,0.167348,0.061981,0.110326,0.089252
263,South Africa,0.207359,1.743398e-01,0.198444,0.090802,0.124811,0.155849,0.156510,0.114576,0.156840,...,0.223538,0.219245,0.235755,0.029717,0.218915,0.215613,0.255236,0.261840,0.262830,0.293538
264,Zambia,0.124191,0.000000e+00,0.190046,0.118779,0.155765,0.114569,0.183430,0.110359,0.171402,...,0.194556,0.194857,0.227333,0.216808,0.051120,0.247781,0.224627,0.244473,0.308223,0.200570

In [13]:
df.to_csv('New_gini index.csv')