In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('./Life expectancy.csv')
df1 = pd.read_csv('./New_unemployment.csv')
lists = df1['Unnamed: 0'].tolist()
filled_df = pd.DataFrame()
for list in lists:
    filled_df = filled_df.append(df[list:list + 1])
df = filled_df

In [14]:
label = df.keys()[4:]
len(label)

62

In [6]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()
outputs = imputer.fit_transform(df[label].values)

In [12]:
df[label[:-1]] = outputs

In [15]:
df = df.drop(df.keys()[1:34], axis=1)
df = df.drop(df.keys()[-1], axis=1)

In [16]:
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,73.144000,73.378000,73.715000,73.939000,74.131000,74.362000,74.592000,73.904000,74.990000,...,78.092000,78.064000,78.123000,78.407000,78.644000,78.860000,79.047000,79.184000,79.282000,76.989000
9,Argentina,71.784000,72.319000,72.430000,72.565000,73.172000,73.133000,73.307000,73.090000,73.474000,...,76.124000,76.467000,76.491000,76.755000,76.760000,76.308000,76.833000,76.999000,77.284000,75.892000
10,Armenia,68.821000,68.643000,68.627000,68.841000,69.073000,69.311000,69.783000,69.910000,70.514000,...,73.305000,73.454000,73.676000,74.058000,74.436000,74.664000,74.906000,75.064000,75.439000,72.173000
13,Australia,76.994634,77.275610,77.378049,77.878049,77.878049,77.829268,78.078049,78.480488,78.631707,...,81.895122,82.046341,82.148780,82.300000,82.400000,82.448780,82.500000,82.748780,82.900000,83.200000
14,Austria,75.568293,75.617073,75.817073,76.068293,76.419512,76.668293,76.870732,77.319512,77.670732,...,80.982927,80.936585,81.136585,81.490244,81.190244,81.641463,81.643902,81.692683,81.895122,81.192683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",71.532000,71.832000,71.806000,71.925000,71.853000,72.143000,72.111000,72.703000,72.668000,...,72.913000,73.036000,73.196000,72.853000,73.006000,72.058000,71.943000,71.979000,72.161000,71.095000
257,Vietnam,69.213000,69.849000,69.958000,70.621000,70.759000,71.384000,71.510000,71.802000,72.107000,...,73.692000,73.704000,73.775000,73.855000,73.876000,73.938000,73.963000,73.976000,74.093000,75.378000
261,Kosovo,70.917000,71.246000,71.487000,71.817000,72.125000,72.441000,72.760000,73.066000,71.306000,...,77.740000,78.280000,78.587000,78.880000,78.922000,78.981000,78.783000,78.696000,79.022000,76.567000
263,South Africa,63.375000,63.265000,63.341000,63.045000,62.612000,62.262000,61.459000,60.805000,60.001000,...,60.651000,61.846000,62.533000,63.380000,63.950000,64.747000,65.402000,65.674000,66.175000,65.252000
264,Zambia,47.926000,47.097000,46.512000,46.209000,45.854000,45.553000,45.233000,44.945000,44.701000,...,57.771000,58.867000,59.878000,60.699000,61.208000,61.794000,62.120000,62.342000,62.793000,62.380000

In [17]:
# 标准化
def standard(datas):
    k = np.power(np.sum(np.power(datas, 2)), 0.5)
    datas = datas / k
    return datas

In [20]:
label = df.keys()[1:]
list = []
for value in df[label].values:
    list.append(standard(value))

In [21]:
df[label] = list

In [22]:
df

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,0.171794,0.172343,0.173135,0.173661,0.174112,0.174654,0.175195,0.173579,0.176129,...,0.183415,0.183349,0.183488,0.184155,0.184712,0.185219,0.185658,0.185980,0.186210,0.180825
9,Argentina,0.172292,0.173576,0.173842,0.174166,0.175623,0.175530,0.175947,0.175427,0.176348,...,0.182709,0.183532,0.183589,0.184223,0.184235,0.183150,0.184410,0.184809,0.185493,0.182152
10,Armenia,0.172155,0.171710,0.171670,0.172205,0.172785,0.173381,0.174561,0.174879,0.176390,...,0.183371,0.183744,0.184300,0.185255,0.186201,0.186771,0.187376,0.187772,0.188710,0.180540
13,Australia,0.172025,0.172653,0.172882,0.173999,0.173999,0.173890,0.174446,0.175345,0.175683,...,0.182974,0.183312,0.183541,0.183879,0.184102,0.184211,0.184326,0.184881,0.185219,0.185890
14,Austria,0.171421,0.171532,0.171986,0.172556,0.173352,0.173917,0.174376,0.175394,0.176191,...,0.183704,0.183599,0.184053,0.184855,0.184175,0.185198,0.185204,0.185314,0.185773,0.184180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,"Venezuela, RB",0.177609,0.178354,0.178290,0.178585,0.178406,0.179126,0.179047,0.180517,0.180430,...,0.181038,0.181344,0.181741,0.180889,0.181269,0.178915,0.178630,0.178719,0.179171,0.176524
257,Vietnam,0.170916,0.172487,0.172756,0.174393,0.174734,0.176278,0.176589,0.177310,0.178063,...,0.181977,0.182007,0.182182,0.182379,0.182431,0.182584,0.182646,0.182678,0.182967,0.186140
261,Kosovo,0.168979,0.169763,0.170337,0.171123,0.171857,0.172610,0.173370,0.174099,0.169906,...,0.185236,0.186523,0.187255,0.187953,0.188053,0.188193,0.187722,0.187514,0.188291,0.182441
263,South Africa,0.187876,0.187550,0.187775,0.186898,0.185614,0.184577,0.182196,0.180257,0.177874,...,0.179801,0.183343,0.185380,0.187891,0.189581,0.191943,0.193885,0.194691,0.196177,0.193440
264,Zambia,0.162819,0.160003,0.158015,0.156986,0.155780,0.154757,0.153670,0.152692,0.151863,...,0.196265,0.199989,0.203423,0.206213,0.207942,0.209933,0.211040,0.211794,0.213327,0.211924

In [17]:
df.to_csv('.Life expectancy.csv')