In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
airline = pd.read_csv('./data_cleaned.csv')
airline_selection = airline[['FFP_DATE', 'LOAD_TIME', 'LAST_TO_END', 'FLIGHT_COUNT', 'SEG_KM_SUM', 'avg_discount']]
airline_selection.head()

    FFP_DATE  LOAD_TIME  LAST_TO_END  FLIGHT_COUNT  SEG_KM_SUM  avg_discount
0  2006/11/2  2014/3/31            1           210      580717      0.961639
1  2007/2/19  2014/3/31            7           140      293678      1.252314
2   2007/2/1  2014/3/31           11           135      283712      1.254676
3  2008/8/22  2014/3/31           97            23      281336      1.090870
4  2009/4/10  2014/3/31            5           152      309928      0.970658

In [49]:
# 属性L: 客户入会时间 LOAD_TIME - FFP_DATA
L = pd.to_datetime(airline_selection['LOAD_TIME']) - pd.to_datetime(airline_selection['FFP_DATE'])
L = L.astype('str').str.split().str[0].astype('int') / 30
airline_feature = pd.concat([L, airline_selection.iloc[:, 2:]], axis=1)
airline_feature.rename(columns={0: 'L'}, inplace=True)
data = StandardScaler().fit_transform(airline_feature)
np.savez('airline_scale.npz', data)
data

array([[ 1.43579256, -0.94493902, 14.03402401, 26.76115699,  1.29554188],
       [ 1.30723219, -0.91188564,  9.07321595, 13.12686436,  2.86817777],
       [ 1.32846234, -0.88985006,  8.71887252, 12.65348144,  2.88095186],
       ...,
       [-0.14939227, -0.73560098, -0.7066628 , -0.77233461, -2.68988313],
       [-1.20618215,  1.60567965, -0.7066628 , -0.77983958, -2.55462608],
       [-0.47963911,  0.60306065, -0.7066628 , -0.78667955, -2.39231762]])