In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('./debt index.csv')
df.keys()[47:-1]

Index(['2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020'],
      dtype='object')

In [3]:
label = df.keys()[47:-1]
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
output = imputer.fit_transform(df[label])

In [4]:
df[label] = output

In [5]:
df = df.drop(df.keys()[2:47], axis=1)
df = df.drop(df.keys()[-1], axis=1)
df = df.drop(df.keys()[0], axis=1)

In [6]:
df

,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,95.299513,95.594526,95.675386,85.277360,80.662199,77.476972,58.719261,72.642479,64.512055,69.637674,63.669153,70.580770,73.320227,79.864418,80.735582,75.888752,64.570326,75.698488,84.058619
1,Argentina,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
2,Armenia,69.157600,75.339711,65.561116,59.091010,54.807646,49.300093,48.526193,50.054537,46.891262,47.690066,47.524941,47.870051,48.516905,52.380479,49.273572,47.832921,49.568016,50.028421,63.401214
3,Australia,25.897645,25.086646,22.873486,22.418550,21.453913,20.109365,18.187886,23.872061,28.670102,30.098710,39.456437,37.578897,41.741540,46.506664,54.690390,53.280878,54.485614,60.247928,69.413798
4,Austria,67.811873,66.791019,66.461798,74.305838,70.422611,66.756682,71.938258,83.331652,85.786270,85.696507,90.600388,87.696599,95.799629,95.084266,94.694637,89.405409,84.164458,83.053867,99.913086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,"Venezuela, RB",55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
117,Vietnam,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
118,Kosovo,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
119,South Africa,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
120,Zambia,19.117165,35.297027,29.894547,14.494385,14.049158,14.509313,11.382212,17.784214,17.321511,18.049909,23.488919,24.223994,44.395868,49.407347,46.432894,52.280942,59.712221,61.930117,103.698242

In [6]:
label = df.keys()[1:]
list = []
def minToMax(datas):
    return datas.max() - datas
for value in df[label].values:
    list.append(minToMax(value))
l

,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,95.299513,95.594526,95.675386,85.277360,80.662199,77.476972,58.719261,72.642479,64.512055,69.637674,63.669153,70.580770,73.320227,79.864418,80.735582,75.888752,64.570326,75.698488,84.058619
1,Argentina,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
2,Armenia,69.157600,75.339711,65.561116,59.091010,54.807646,49.300093,48.526193,50.054537,46.891262,47.690066,47.524941,47.870051,48.516905,52.380479,49.273572,47.832921,49.568016,50.028421,63.401214
3,Australia,25.897645,25.086646,22.873486,22.418550,21.453913,20.109365,18.187886,23.872061,28.670102,30.098710,39.456437,37.578897,41.741540,46.506664,54.690390,53.280878,54.485614,60.247928,69.413798
4,Austria,67.811873,66.791019,66.461798,74.305838,70.422611,66.756682,71.938258,83.331652,85.786270,85.696507,90.600388,87.696599,95.799629,95.084266,94.694637,89.405409,84.164458,83.053867,99.913086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,"Venezuela, RB",55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
117,Vietnam,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
118,Kosovo,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
119,South Africa,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
120,Zambia,19.117165,35.297027,29.894547,14.494385,14.049158,14.509313,11.382212,17.784214,17.321511,18.049909,23.488919,24.223994,44.395868,49.407347,46.432894,52.280942,59.712221,61.930117,103.698242

In [7]:
# 标准化
def standard(datas):
    k = np.power(np.sum(np.power(datas, 2)), 0.5)
    datas = datas / k
    return datas

In [8]:

list = []
for value in df[label].values:
    list.append(standard(value))

In [9]:
df[label] = list

In [10]:
df

,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,0.281116,0.281986,0.282225,0.251553,0.237939,0.228543,0.173211,0.214282,0.190299,0.205418,0.187812,0.208200,0.216281,0.235585,0.238155,0.223858,0.190471,0.223297,0.247957
1,Argentina,0.220415,0.224533,0.226152,0.212857,0.194339,0.187240,0.181874,0.209948,0.207440,0.217857,0.231125,0.236249,0.244857,0.249730,0.254538,0.247579,0.235425,0.242603,0.303570
2,Armenia,0.291310,0.317351,0.276161,0.248907,0.230864,0.207665,0.204405,0.210843,0.197518,0.200883,0.200187,0.201641,0.204366,0.220640,0.207553,0.201485,0.208793,0.210733,0.267062
3,Australia,0.149670,0.144983,0.132193,0.129563,0.123988,0.116218,0.105113,0.137964,0.165693,0.173949,0.228030,0.217179,0.241237,0.268776,0.316072,0.307926,0.314888,0.348190,0.401163
4,Austria,0.187875,0.185047,0.184135,0.205867,0.195108,0.184952,0.199307,0.230873,0.237674,0.237425,0.251011,0.242966,0.265416,0.263434,0.262355,0.247701,0.233180,0.230104,0.276813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,"Venezuela, RB",0.220415,0.224533,0.226152,0.212857,0.194339,0.187240,0.181874,0.209948,0.207440,0.217857,0.231125,0.236249,0.244857,0.249730,0.254538,0.247579,0.235425,0.242603,0.303570
117,Vietnam,0.220415,0.224533,0.226152,0.212857,0.194339,0.187240,0.181874,0.209948,0.207440,0.217857,0.231125,0.236249,0.244857,0.249730,0.254538,0.247579,0.235425,0.242603,0.303570
118,Kosovo,0.220415,0.224533,0.226152,0.212857,0.194339,0.187240,0.181874,0.209948,0.207440,0.217857,0.231125,0.236249,0.244857,0.249730,0.254538,0.247579,0.235425,0.242603,0.303570
119,South Africa,0.220415,0.224533,0.226152,0.212857,0.194339,0.187240,0.181874,0.209948,0.207440,0.217857,0.231125,0.236249,0.244857,0.249730,0.254538,0.247579,0.235425,0.242603,0.303570
120,Zambia,0.105575,0.194928,0.165093,0.080046,0.077587,0.080128,0.062858,0.098214,0.095658,0.099681,0.129718,0.133777,0.245177,0.272853,0.256426,0.288722,0.329762,0.342010,0.572675

In [11]:
df.to_csv('New_debt index.csv')