In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('./debt index.csv')
df.keys()[47:-1]

Index(['2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020'],
      dtype='object')

In [3]:
label = df.keys()[47:-1]
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
output = imputer.fit_transform(df[label])

In [4]:
df[label] = output

In [5]:
df = df.drop(df.keys()[2:47], axis=1)
df = df.drop(df.keys()[-1], axis=1)
df = df.drop(df.keys()[0], axis=1)

In [6]:
df

,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,95.299513,95.594526,95.675386,85.277360,80.662199,77.476972,58.719261,72.642479,64.512055,69.637674,63.669153,70.580770,73.320227,79.864418,80.735582,75.888752,64.570326,75.698488,84.058619
1,Argentina,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
2,Armenia,69.157600,75.339711,65.561116,59.091010,54.807646,49.300093,48.526193,50.054537,46.891262,47.690066,47.524941,47.870051,48.516905,52.380479,49.273572,47.832921,49.568016,50.028421,63.401214
3,Australia,25.897645,25.086646,22.873486,22.418550,21.453913,20.109365,18.187886,23.872061,28.670102,30.098710,39.456437,37.578897,41.741540,46.506664,54.690390,53.280878,54.485614,60.247928,69.413798
4,Austria,67.811873,66.791019,66.461798,74.305838,70.422611,66.756682,71.938258,83.331652,85.786270,85.696507,90.600388,87.696599,95.799629,95.084266,94.694637,89.405409,84.164458,83.053867,99.913086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,"Venezuela, RB",55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
117,Vietnam,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
118,Kosovo,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
119,South Africa,55.361753,56.396244,56.802894,53.463551,48.812268,47.029246,45.681570,52.732827,52.102823,54.719467,58.051898,59.338983,61.501025,62.724945,63.932473,62.184581,59.132027,60.934842,76.247904
120,Zambia,19.117165,35.297027,29.894547,14.494385,14.049158,14.509313,11.382212,17.784214,17.321511,18.049909,23.488919,24.223994,44.395868,49.407347,46.432894,52.280942,59.712221,61.930117,103.698242

In [7]:
label = df.keys()[1:]
list = []
def minToMax(datas):
    return datas.max() - datas
for value in df[label].values:
    list.append(minToMax(value))
df[label] = list

In [8]:
# 标准化
def standard(datas):
    k = np.power(np.sum(np.power(datas, 2)), 0.5)
    datas = datas / k
    return datas

list = []
for value in df[label].values:
    list.append(standard(value))
df[label] = list

In [9]:
df

,Country Name,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,0.004023,0.000865,0.000000,0.111284,0.160678,0.194768,0.395522,0.246509,0.333524,0.278668,0.342546,0.268574,0.239255,0.169216,0.159893,0.211766,0.332901,0.213802,0.124328
1,Argentina,0.237068,0.225326,0.220710,0.258613,0.311408,0.331646,0.346943,0.266908,0.274058,0.244358,0.206534,0.191924,0.167384,0.153492,0.139786,0.159626,0.194274,0.173811,0.000000
2,Armenia,0.061551,0.000000,0.097359,0.161778,0.204424,0.259260,0.266965,0.251748,0.283243,0.275289,0.276934,0.273497,0.267057,0.228590,0.259524,0.273867,0.256592,0.252008,0.118864
3,Australia,0.276031,0.281175,0.295214,0.298100,0.304218,0.312747,0.324935,0.288880,0.258445,0.249383,0.190025,0.201935,0.175530,0.145304,0.093393,0.102334,0.094692,0.058141,0.000000
4,Austria,0.352854,0.364075,0.367694,0.281473,0.324157,0.364452,0.307497,0.182262,0.155281,0.156267,0.102364,0.134283,0.045215,0.053078,0.057361,0.115499,0.173108,0.185315,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,"Venezuela, RB",0.237068,0.225326,0.220710,0.258613,0.311408,0.331646,0.346943,0.266908,0.274058,0.244358,0.206534,0.191924,0.167384,0.153492,0.139786,0.159626,0.194274,0.173811,0.000000
117,Vietnam,0.237068,0.225326,0.220710,0.258613,0.311408,0.331646,0.346943,0.266908,0.274058,0.244358,0.206534,0.191924,0.167384,0.153492,0.139786,0.159626,0.194274,0.173811,0.000000
118,Kosovo,0.237068,0.225326,0.220710,0.258613,0.311408,0.331646,0.346943,0.266908,0.274058,0.244358,0.206534,0.191924,0.167384,0.153492,0.139786,0.159626,0.194274,0.173811,0.000000
119,South Africa,0.237068,0.225326,0.220710,0.258613,0.311408,0.331646,0.346943,0.266908,0.274058,0.244358,0.206534,0.191924,0.167384,0.153492,0.139786,0.159626,0.194274,0.173811,0.000000
120,Zambia,0.266478,0.215502,0.232523,0.281042,0.282445,0.280995,0.290847,0.270678,0.272135,0.269840,0.252705,0.250389,0.186836,0.171047,0.180418,0.161993,0.138581,0.131593,0.000000

In [10]:
df.to_csv('New_debt index.csv')