In [32]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./2023 QS World University Rankings V2.1 (For qs.com).xlsx')
df.rename(columns={'Unnamed: 4': 'Country'}, inplace=True)

In [18]:
tar = pd.DataFrame()
length = len(df)
countries = []
ranks = []

def isValid(rank):
    if '+' in rank:
        return False
    elif '-' in rank:
        return int(rank.split('-')[1]) <= 1000
    elif '=' in rank:
        return int(rank.split('=')[0]) <= 1000
    return int(rank) <= 1000
    
def add(country):
    if country in countries:
        index = countries.index(country)
        ranks[index] += 1;
    else:
        countries.append(country)
        ranks.append(1)

for i in range(3, length):
    rank = str(df['2023 QS World University Rankings'][i])
    country = df['Country'][i]
    if isValid(rank):
        add(country)

In [14]:
df.rename(columns={'Unnamed: 4': 'Country'}, inplace=True)

In [25]:
ranks[countries.index('China (Mainland)')]

59

In [35]:
len(countries)

82

In [37]:
tar['Country'] = countries
tar['Rank'] = ranks

In [38]:
tar

             Country  Rank
0      United States   146
1     United Kingdom    81
2        Switzerland    10
3          Singapore     3
4   China (Mainland)    59
..               ...   ...
77        Kyrgyzstan     1
78           Armenia     2
79              Iraq     1
80             Malta     1
81           Croatia     1

[82 rows x 2 columns]